
  .header{
    border: solid;  
    color: seagreen;
    display: flex;
    justify-content: space-around ;
  }
  .menu{
    border: solid;
    margin-right: 30px;
    display: flex;
    padding: 15px;
    justify-content: space-between,
    
}
body {
     margin:0px; 
    background-color: skyblue;
}
.grid{
    border: solid;
    display: flex;

}
  .item{
    border: solid;
  
    display: flex
    justify-content: space-between,
}
.shoot{
  border: solid;
  height: 30px;
  border-color: gainsboro;
}
.footer{
    border: solid;
    border: skyblue;
    display: flex;
    justify-content: flex-end;
}
.origami {
  border-radius  : 20px;
  background-color : white;

  width: 310px;
}